body {
  background: #faebd7;
}

#header {
  text-align: center;
}

.memes {
  max-width: 90vw;
}

#searchbox {
  width: 100%;
  height: 4rem;
  padding: 4px;
  background: transparent;
  border: 0.5px dotted black;
  margin-bottom: 1rem;
}

.meme-card {
  background: white;
  margin: 16px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.meme-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.meme-image {
  max-width: 100%;
  height: auto;
}
