{% extends "base.html" %}

{% block content %}
    <div class="container memes">
        {% for memes_batch in memes_list | batch(3) %}
            <div class="row">
              {% for meme in memes_batch %}
                <div class="meme-card one-third column">
                    <img 
                        src="{{ url_for('get_processed_meme', filename=meme) }}" 
                        class="meme-image" 
                        />
                </div>
              {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
